body {
    background: #ebebeb;
    font-family: "Poppins";
    font-size: 18px;
    color: black;
}

.landing-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.header-div {
    margin-right: 20px;
}

.header-description {
    color: white;
    text-align: justify;
}

.header-description-div {
    margin-top: 50px;
}

.div-button-login {
    display: flex;
    justify-content: center;
    margin-right: 70px;
}

.button-login {
    margin-top: 20px;
    background-color: #0677a6;
    border-color: #0677a6;
}

.button-login:hover {
    margin-top: 20px;
    background-color: #0a4761;
    border-color: #0a4761;
}

.gradient {
    background: rgb(58, 175, 180);
    background: linear-gradient( 90deg, rgba(58, 175, 180, 1) 0%, rgba(17, 218, 255, 1) 50%, rgba(6, 119, 166, 1) 100%);
}

.waves-svg {
    display: flex;
    width: 100%;
    height: 800px;
}

.home-image {
    height: 500px;
    margin-right: 250px;
    margin-top: 100px;
}

.wrapper-div {
    display: flex;
}

.home-image-div,
.home-header-div {
    flex: 1;
}

.login .btn {
    font-size: 1.5rem;
}

.main-heading {
    margin-top: 160px;
    color: white;
    font-weight: 400;
    font-size: 4rem;
}

.form-control {
    font-size: 1.5rem;
}

.hideElement {
    display: none;
}

.active {
    border: 2px solid #437fd3;
}

.loading {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 10%;
    font-size: 150%;
}

.moreResults {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.moreResults button {
    color: #fff;
    padding: 10px;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.message {
    position: relative;
    font-size: 150%;
    top: 50%;
    left: 50%;
    transform: translateX(-10%);
    color: #fff;
}

.visibleLoader {
    overflow: hidden;
}

.errorMessage {
    color: #f21e08;
    background: #fff0f0;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.searchButtons {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButtons .btn {
    margin: 0.8rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: #778298;
}

.searchButtons .btn:focus {
    box-shadow: none;
}

.albums,
.artists,
.playlist,
.tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 1rem;
    box-shadow: 0 2px 7px 3px #949ca5;
}

.card .cardImage {
    padding: 1rem;
    text-align: center;
}

.card img {
    max-width: 250px;
    height: 250px;
}

.button-div {
    position: absolute;
    left: 90%;
}

.default-button {
    background-color: #04577b;
    border-color: #04577b;
}

.logout-button {
    float: right;
}

.default-button:hover,
.default-button:focus {
    background-color: #066c99;
    border-color: #066c99;
}

.navbar-home {
    background: linear-gradient( 90deg, rgba(58, 175, 180, 1) 0%, rgba(17, 218, 255, 1) 50%, rgba(6, 119, 166, 1) 100%);
    height: 80px;
}

.navbar-name {
    color: white;
    font-size: 30px;
}

.logo {
    margin-right: 8px;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.search-music-img-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.search-music-image {
    height: 200px;
}

.search-bar {
    display: flex;
}

.search-button {
    margin-left: 10px;
    display: flex;
}

.bi-search {
    margin-bottom: 7px;
    margin-right: 8px;
}

.search-label {
    font-size: 30px;
    color: #363738;
}

.search-button-text {
    margin-top: 4px;
}

.card img {
    height: auto;
}

.main-heading {
    text-align: center;
}

.searchButtons .btn {
    margin: 0.6rem;
}

.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-results-text {
    color: red;
    font-weight: bold;
}

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.error-image {
    height: 350px;
    margin-bottom: 20px;
}